body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.buttons-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#warning-banner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 8px;
  color: hsl(0, 60%, 30%);
  background-color: hsl(0, 60%, 70%);
  font-size: 10px;
  box-sizing: border-box;
}
